div(style='background: #f3f3f3;max-width:720px;margin:0 auto;padding:50px 0px;border-radius:10px;background: #f3f3f3;')
    div(style="font-family:'poppinsregular';font-size:14px;max-width:575px;padding:0px;margin:0 auto;")
        div(style='padding:15px;background-color: #{themeColor};background: #{themeColor};border-radius: 10px 10px 0px 0px;')
            div(style='display:inline-block; width:100%')
                div(style='color:#ffffff;text-align: center;')
                   img(src='#{logo}')
        div(style='background: #ffffff;padding:5px 15px;background-image: linear-gradient(to bottom, rgba(255,255,255,.51), rgba(255,255,255,0));')
            
        div(style='background:#ffffff; color:#6d6d6d; font-size:14px; line-height:20px; padding:15px 25px;letter-spacing: 0.2px;')
            p
                | Hi! #{themeColor}
                br
            p
                | You requested a new password for the QueAll account. No changes have been made to your account yet.
            p
                | We ask you to take a moment to confirm that we have the correct request. Please click the link below to verify your request.
                br
            p
                a(href='{verification_link}' style="background: #0054e2;        padding: 8px 12px;        font-size: 14px;        text-decoration: none;        position: relative;        -webkit-border-radius: 8px;        -moz-border-radius: 8px;        border-radius: 8px;        background-color: #{themeColor};        -webkit-box-shadow: 1px 1px 2px #{themeColor}, inset 1px 1px 1px #{themeColor};        -moz-box-shadow: 1px 1px 2px #{themeColor}, inset 1px 1px 1px #{themeColor};        box-shadow: 1px 1px 2px #0054e2, inset 1px 1px 1px #{themeColor};        border: solid 1px #{themeColor};        color: #fff;        text-shadow: 1px 1px rgba(11,172,165,.92);        font-family: 'poppinsregular';        width: 200px;") Click Here to Reset
            p
                br
                |  We are here to help you with any step along the way. If you had not requested a new password, no further action required.
            p
                br
                |  Best Regards,
                br
                |  The #{app_name} Team
        div(style='background:#{themeColor};color:#343435;font-size:12px;padding: 11px;text-align:center;background-color: #{themeColor};background-image: -webkit-linear-gradient(top, rgba(255,255,255,.51), rgba(255,255,255,0));background-image: linear-gradient(to bottom, rgba(255,255,255,.51), rgba(255,255,255,0));background: #ffffff;') © {year} {site_title}. All rights reserved
        div(style='display:inline-block;text-align:center;width:100%;background-color: #{themeColor};background: #{themeColor};border-radius: 0px 0px  10px 10px;')
            p(style='      background-color: #{themeColor};      color:#FFFFFF;      background: #{themeColor};      ')
                | For more information, visit our website at 
                a(href='{website_link}' style='color: #ffffff;') #{app_name}
